* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient( to left, skyblue, lightgreen);
}
.cart-btn {
    border: none;
    background: var(--primary color);
    color:black;
    padding: 0.8rem 1rem;
    border-radius: var(--border-radius);
}
.nav-links a:hover {
    color: yellow;
}

/* hero section */
.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/images/laptop.jpg) center/cover;
    display: flex;
}
 .hero-content h2{
    font-size: 3rem;
    margin-bottom: 1rem;

 }

 .hero-content button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: var(--border-radius);
    transition: var(--transition-speed);
 }
 .hero-content button:hover {
    transform: translateY(-3px);
 }

 /* Filters */
 .filters {
    display: flex;
    gap: 1rem;

    padding: 1rem;
 }
 .filters select {
    padding: 0.8rem;
    border-radius: 8px;
 }
  
 /* Product Grid */
 .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 2rem;
    padding: 2rem;
 }

 /* Product Card */
 .product-card {
    background: white;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition-speed);
    box-shadow: var(--shadow);
 }

 .product-card:hover {
    transform: translateY(-10px);
 }

 .product-card img {
    height: 220px;
    object-fit: cover;
 }

 .product-info {
    padding: 1rem;
 }

 .product-info h3 {
    margin-bottom: 0.5rem;
 }
 .rating {
    color: gold;
    margin-bottom: 0.5rem;
 }

 .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }

 .add-cart {
    width: 100%;
    padding: 0.9rem;
    border: none;
    border-radius: 8px;
    background: var(--primary-color);
    color: red;
    transition: var(--transition-speed);
 }
 
 /* Footer */
  .footer {
    background: violet;
    color: whitesmoke;
    margin-top: 4rem;
    padding-top: 4rem;
  }

  .footer-container {
    width: 80%;
    max-width: 1200px;

    margin: auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
     gap: 3rem;
  }

  .footer-section h2,
  .footer-section h3 {
    margin-bottom: 1rem;
  }

  .footer-section p {
    line-height: 1.8;
    color: black;
  }
  .footer-section a {
    color: #d1d;
    text-decoration: none;
    transition: 0.3s ease;
    
  }